// @import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
html {
  font-size: 62.5%;
}

#file{
  animation: move 25s linear 0s infinite;
  position: fixed;
  height: 40px;
  top: 50%;
  width: 30px;
}

#file2{
  animation: move 25s linear 0s infinite;
  position: fixed;
  height: 40px;
  top: 50%;
  width: 30px;
}

#file3{
  animation: movedown 30s linear 0s infinite;
  position: fixed;
  height: 40px;
  width: 30px;
  z-index: 1;
  right: 95%;
}


@keyframes move {
  from {
    left: 120%;
  }
  to {
    left: -120%;
  }
};

@keyframes movedown {
  from {
    bottom: 100%;
  }
  to {
    bottom: -100%;
  }
};

body {
  font-family: 'Courier', sans-serif;
  text-align: center;
}
